<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    </style>
  </head>

  <body>
   <h1>Here is the list of Users<h1/>
    <section>
        <div>
        <img  src="<%= @user.photo %>" alt="Avatar" />
         <h2><%= @user.name %></h2>
         <h6>
         <% if @user.postscounter > 0 %>
         <p>Number of post(s): <%= @user.postscounter %></p>
            <% end %>
         </h6>
        </div>
    </section>

    <button>
        <a href='/users/<%= @user.id%>/posts'>See all posts</a>
    </button>
  </body>
</html>
