<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>
  <body>
   <h1>Here is the list of Posts<h1/>
    <ul>
    <li>
    <% @posts.each do |post| %>
      <a href='posts/<%= post.id %>'>
      <%= post.text %>
      </a>
    </li>
    <p>Comments:
    <%= post.query_comments %>
      </p>
      <p>likes: 3
      </p>
      <% end %>
    </ul>
  </body>
</html>